:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104, 0.8)

}

html,body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {

    background: url(https://apod.nasa.gov/apod/image/1811/46PCherney_NoText.jpg);
    padding: 5%;
    line-height: 1.4;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden;  */

}
.btn{
    background: var(dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;

}


.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr)
}
.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.6rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: rgba(65, 9, 219, 0.973);
    color: black;
}
.week h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    color: #ddd;
}
/* Top Container  */
.top-container{
    display: flex;
    justify-content: space-around;
}
.zipcode-container{
    width: 25%;
    display: flex;
    align-items: center;
    margin: 3px;
}



/* Showcase */
.showcase{
    grid-area: showcase;
    min-height: 50px;
    min-width: 30px;
    flex: 1;
    text-align: center;
}


.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: #ddd;
}



/* Boxes */
.Boxes {
    overflow-y: scroll;
    /* overflow: hidden; */
}

.Day {

    background: #fff;
    text-align: center;
    padding: 1.5rem 2rem;
    margin: 1.6%;
    border-radius: 12px
}

.week{
    display: flex;
}

.Week-Title{
    color: var(--light);

}

.searchControl{
    color: rgb(218, 183, 28);
    font-display: f
}


@media screen and (max-width: 768px) {

    .main-nav ul {
        display: grid;
        grid-gap: 5px;
        padding: 0;
        list-style: none;
        grid-template-columns: repeat(4, 1fr)
    }

    
    .showcase{
        grid-area: showcase;
        min-height: 15px;
        min-width: 15px;
        flex: 1;
        text-align: center;
    }
        
    .main-nav a {
        background: var(--primary);
        display: block;
        text-decoration: none;
        padding: 0.2rem;
        text-align: center;
        color: var(--dark);
        text-transform: uppercase;
        font-size: 1.0rem;
        box-shadow: var(--shadow);
    }
    

    .showcase h1 {
        font-size: 3.2rem;
        margin-bottom: 0;
        color: #ddd;
    }

    .zipcode-container{
        width: 25%;
        display: flex;
        align-items: center;
        align-content: flex-end;
        justify-content: flex-start;

    }
    .Day {

        background: #fff;
        text-align: center;
        padding: 1rem 1rem;
        margin: 1.0%;
        border-radius: 13px
    }
    
    .week{
        display: flex;
        flex-direction: column;
    }

    }



    @media screen and (max-width: 768px) {

        .main-nav ul {
            display: grid;
            grid-gap: 5px;
            padding: 0;
            list-style: none;
            grid-template-columns: repeat(4, 1fr)
        }
    
        
        .showcase{
            grid-area: showcase;
            min-height: 15px;
            min-width: 15px;
            flex: 1;
            text-align: center;
        }
            
        .main-nav a {
            background: var(--primary);
            display: block;
            text-decoration: none;
            padding: 0.2rem;
            text-align: center;
            color: var(--dark);
            text-transform: uppercase;
            font-size: 1.0rem;
            box-shadow: var(--shadow);
        }
        
    
        .showcase h1 {
            font-size: 3.2rem;
            margin-bottom: 0;
            color: #ddd;
        }
    
        .zipcode-container{
            width: 25%;
            display: flex;
            align-items: center;
            align-content: flex-end;
            justify-content: flex-start;
    
        }
        .Day {
    
            background: #fff;
            text-align: center;
            padding: 1rem 1rem;
            margin: 1.0%;
            border-radius: 13px
        }
        
        .week{
            display: flex;
            flex-direction: column;
        }
    
        }


        @media screen and (max-width: 414px) {

            .main-nav ul {
                display: grid;
                grid-gap: 5px;
                padding: 0;
                list-style: none;
                grid-template-columns: repeat(4, 1fr)
            }
        
            
            .showcase{
                grid-area: showcase;
                min-height: 15px;
                min-width: 15px;
                flex: 1;
                text-align: center;
            }
                
            .main-nav a {
                background: var(--primary);
                display: block;
                text-decoration: none;
                padding: 0.2rem;
                text-align: center;
                color: var(--dark);
                text-transform: uppercase;
                font-size: 0.7rem;
                box-shadow: var(--shadow);
            }
            
        
            .showcase h1 {
                font-size: 3.2rem;
                margin-bottom: 0;
                color: #ddd;
            }
        
            .zipcode-container{
                display: flex;
                align-items: center;
            }
            .Day {
        
                background: #fff;
                text-align: center;
                padding: 1rem 1rem;
                margin: 1.0%;
                border-radius: 13px
            }
            
            .week{
                display: flex;
                flex-direction: column;
            }
            .top-container{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            }