
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: 'Open Sans', sans-serif;
    background: url(https://apod.nasa.gov/apod/image/1712/greencompany_rive_960.jpg) no-repeat center center fixed; 
    background-color: #000;
    background-position: center;
    background-size: cover;
    margin: 250px 40px;
    line-height: 1.4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    overflow: hidden;
}

.SignUp{
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    background: rgb(0, 1, 3);
    position: center;
    box-shadow: 1px 1px 50px #000;
    
    
}
.SignUp-header,
.SignUP p {
margin-top: 0;
margin-bottom: 0;
}

.SignUp-header {
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.SignUp-container {
    background: #ebebeb;
    padding: 12px;
}


.SignUp p {
    padding: 12px;
}

.SignUp input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.SignUp input[type="email"],
.SignUp input[type="password"] {
background: #fff;
border-color: #bbb;
color: #555;
}

.SignUp input[type="submit"] {
    background: #47cf73;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}
.SignUp input[type="submit"]:hover {
    background: #17c;
}

  /* Buttons' focus effect */
.SignUp input[type="submit"]:focus {
    border-color: #05a;
}
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}

@media screen and (max-width: 768px) {
    body {
        font-family: 'Open Sans', sans-serif;
        background: url(https://apod.nasa.gov/apod/image/1712/greencompany_rive_960.jpg) no-repeat center center fixed; 
        background-position: center;
        background-size: cover;
        margin: 150px 40px;
        line-height: 1.4;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }


    .SignUp{
        width: 300px;
        margin: 13px auto;
        font-size: 16px;
        background: rgb(0, 1, 3);
        position: center;
        box-shadow: 1px 1px 50px #000;
        
        
    }


    

}